# **Collaborative-Based Filtering**

In [25]:
import pandas as pd
ratings = pd.read_csv("ratings.csv")[["userId", "movieId", "rating"]]
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

### **Create the dataset**

In [14]:
from surprise import SVD, Dataset, Reader

# Creating a Reader object with the rating scale
reader = Reader(rating_scale=(1, 5))

# Loading the dataset from a pandas DataFrame (rating)
dataset = Dataset.load_from_df(rating, reader)

### **Build the trainset**

In [27]:
# Build the full trainset from the dataset
trainset = dataset.build_full_trainset()

# Convert the trainset's ratings to a list
list(trainset.all_ratings())

### **Train the Model**

In [ ]:
svd = SVD()
svd .fit(trainset)

In [ ]:
svd.predict(15, 1956)

### **Validation**

In [ ]:
from surprise import model_selection

model_selection.cross_validate(svd, dataset, measures=["RMSE", "MAE"])